/myLanguage.synctex.gz
/myLanguage.pdf
/myLanguage.dvi
/myLanguage.toc
/myLanguage.out
/myLanguage.log
/myLanguage.ist
/myLanguage.gls
/myLanguage.glo
/myLanguage.glg
/myLanguage.fls
/myLanguage.fdb_latexmk
/myLanguage.aux
/myLanguage.synctex(busy)
